<div class="auth-page">
  <div class="auth-card">
    <h2>Registro</h2>
    <p class="sub">Creá tu cuenta para ingresar al sistema</p>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="field">
        <label>Nombre</label>
        <input formControlName="nombre" placeholder="Ej: Leandro" />

        <small class="error" *ngIf="nombreCtrl?.touched && nombreCtrl?.invalid">
          <span *ngIf="nombreCtrl?.errors?.['required']"
            >El nombre es requerido.</span
          >
          <span *ngIf="nombreCtrl?.errors?.['minlength']"
            >Mínimo 2 caracteres.</span
          >
          <span *ngIf="nombreCtrl?.errors?.['maxlength']"
            >Máximo 30 caracteres.</span
          >
          <span *ngIf="nombreCtrl?.errors?.['pattern']"
            >Solo letras y espacios.</span
          >
        </small>
      </div>

      <div class="field">
        <label>Email</label>
        <input formControlName="email" placeholder="tuemail@email.com" />

        <small class="error" *ngIf="emailCtrl?.touched && emailCtrl?.invalid">
          <span *ngIf="emailCtrl?.errors?.['required']"
            >El email es requerido.</span
          >
          <span *ngIf="emailCtrl?.errors?.['email']"
            >Ingresá un email válido.</span
          >
        </small>
      </div>

      <div class="field">
        <label>Contraseña</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••••"
        />

        <small
          class="error"
          *ngIf="passwordCtrl?.touched && passwordCtrl?.invalid"
        >
          <span *ngIf="passwordCtrl?.errors?.['required']"
            >La contraseña es requerida.</span
          >
          <span *ngIf="passwordCtrl?.errors?.['minlength']"
            >Mínimo 6 caracteres.</span
          >
        </small>
      </div>

      <div class="server-error" *ngIf="errorMsg">{{ errorMsg }}</div>

      <button type="submit" [disabled]="enviando || registerForm.invalid">
        {{ enviando ? "Creando..." : "Crear cuenta" }}
      </button>
    </form>
  </div>
</div>
