<h2>{{ esEdicion() ? "Editar producto" : "Nuevo producto" }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">
  <div class="grid">
    <label>
      Nombre
      <input formControlName="nombre" placeholder="Ej: Super Dulce de Leche" />

      <small
        class="error-msg"
        *ngIf="
          form.get('nombre')?.touched &&
          form.get('nombre')?.hasError('required')
        "
      >
        El nombre es obligatorio.
      </small>
      <small
        class="error-msg"
        *ngIf="
          form.get('nombre')?.touched &&
          form.get('nombre')?.hasError('minlength')
        "
      >
        Mínimo 2 caracteres.
      </small>
    </label>

    <label>
      Categoría
      <select formControlName="categoria">
        <option value="helado">Helado</option>
        <option value="bebida">Bebida</option>
        <option value="comida">Comida</option>
      </select>
    </label>

    <label>
      Unidad
      <select formControlName="unidad">
        <option value="kg">kg</option>
        <option value="unidad">unidad</option>
      </select>
    </label>

    <label>
      Precio venta
      <input
        type="number"
        formControlName="precioVenta"
        min="0"
        placeholder="0"
      />

      <small
        class="error-msg"
        *ngIf="
          form.get('precioVenta')?.touched &&
          form.get('precioVenta')?.hasError('required')
        "
      >
        Ingresá el precio de venta.
      </small>
      <small class="error-msg" *ngIf="form.get('precioVenta')?.hasError('min')">
        No puede ser negativo.
      </small>
    </label>

    <label>
      Costo
      <input type="number" formControlName="costo" min="0" placeholder="0" />

      <small class="error-msg" *ngIf="form.get('costo')?.hasError('min')">
        El costo no puede ser negativo.
      </small>
    </label>

    <label>
      Stock actual
      <input
        type="number"
        formControlName="stockActual"
        min="0"
        placeholder="0"
      />

      <small
        class="error-msg"
        *ngIf="
          form.get('stockActual')?.touched &&
          form.get('stockActual')?.hasError('required')
        "
      >
        Requerido.
      </small>
      <small class="error-msg" *ngIf="form.get('stockActual')?.hasError('min')">
        Mínimo 0.
      </small>
    </label>

    <label>
      Stock mínimo
      <input
        type="number"
        formControlName="stockMinimo"
        min="0"
        placeholder="0"
      />

      <small
        class="error-msg"
        *ngIf="
          form.get('stockMinimo')?.touched &&
          form.get('stockMinimo')?.hasError('required')
        "
      >
        Requerido.
      </small>
      <small class="error-msg" *ngIf="form.get('stockMinimo')?.hasError('min')">
        Mínimo 0.
      </small>
    </label>
  </div>

  <div class="actions">
    <button type="button" (click)="volver()">Cancelar</button>
    <button type="submit" [disabled]="form.invalid">Guardar</button>
  </div>
</form>

<pre *ngIf="debug">{{ form.value | json }}</pre>
