<div class="layout">
  <aside class="sidebar">
    <h3>Heladería PM</h3>

    <nav>
      <a routerLink="/app/ventas/nueva" routerLinkActive="active"
        >Nueva venta</a
      >
      <a
        routerLink="/app/ventas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        >Ventas</a
      >

      <a *ngIf="esAdmin" routerLink="/app/productos" routerLinkActive="active">
        Productos
      </a>
      <a
        *ngIf="esAdmin"
        routerLink="/app/resumen"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Resumen</a
      >

      <a routerLink="/app/cierre" routerLinkActive="active">Cierre del día</a>
      <a routerLink="/app/cierres" routerLinkActive="active"
        >Historial de cierres</a
      >
      <a
        *ngIf="auth.isAdmin()"
        routerLink="/app/usuarios"
        routerLinkActive="active"
      >
        Usuarios
      </a>
    </nav>

    <button (click)="logout()">Cerrar sesión</button>
  </aside>

  <main class="content">
    <div [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
